.pntr-body {
  width: 90%;
  margin: 0 auto;
}

.my-masonry-grid-item {
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
	align-items: flex-end;
  &::after {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:hover {
    &::after {
      position: absolute;
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.containerHoverBox{
  width: 100%;
  height: 100%;
  display: none;
}
.containerHoverBox:hover{
  display: flex;
}
.description{
  color: white;
  font-size: 15px;
}
.button{
  display: flex;
  border-radius: 50%;
  background-color: gray;
}
.avatar{
  border-radius: 50%;
}

.hover-el {
	display: none;
	position: relative;
	z-index: 1;
	color: white;
	box-sizing: border-box;
	flex-direction: column;
	padding-inline: 3%;
	padding-bottom: 2%;
}

.hover-el__user-nfo {
	img {
		margin-right: 2%;
		width: 50px;
		height: 50px;
		border: 1px double white;
		border-radius: 25px;
	}
}