.pntr-body {
  width: 90%;
  margin: 0 auto;
}

.my-masonry-grid-item {
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  align-items: flex-end;

  &::after {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:hover {
    &::after {
      position: absolute;
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.containerHoverBox {
  width: 100%;
  height: 100%;
  display: none;
}

.containerHoverBox:hover {
  display: flex;
}

.description {
  color: white;
  font-size: 15px;
}

.button {
  border: 0px;
  background-color: rgba(128, 128, 128, 0.0);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 0.0;
  font-size: 44px;
  display: flex;
}

// .avatar{
//   width: 40px;
//   height: 40px;
//   background-color: aqua;
//   border-radius: 50%;
// }
.containerWithAddBoards {
  justify-content: space-between;
  display: none;
  border-radius: 20px;
  height: 29px;
  margin-bottom: 10px;
}

.add {
  display: flex;
  color: #198754;
  border-color: #198754;
  border-radius: 9px;
  border: 0px;
  margin-top: 10px;
  margin: 0 auto;
  background-color: white;
  font-size: 15px;
}

.report {
  display: flex;
  color: #198754;
  border-color: #198754;
  border: 0px;
  border-radius: 9px;
  margin: 0 auto;
  background-color: white;
  font-size: 15px;
}

.cross {
  display: flex;
  color: #198754;
  border-color: #198754;
  border: 0px;
  border-radius: 7px;
  margin: 0 auto;
  background-color: white;
  font-size: 14px;
  height: 30px;
  align-items: center;
}

.add:hover {
  background-color: #198754;
  color: white;
}

.report:hover {
  background-color: #198754;
  color: white;
}

.cross:hover {
  background-color: #198754;
  color: white;
}

.hover-el {
  display: none;
  position: relative;
  z-index: 1;
  color: white;
  box-sizing: border-box;
  flex-direction: column;
  padding-inline: 3%;
  padding-bottom: 2%;
}

.hover-el__user-nfo {
  img {
    margin-right: 2%;
    width: 50px;
    height: 50px;
    border: 1px double white;
    border-radius: 25px;
  }
}

.add-to-desk-win {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.btn-cstm {
  width: 65% !important;

  &:hover {
    background-color: #198754 !important;
    border-color: #198754 !important;
    color: white !important;
  }
}


@keyframes progress {
  from {
    background: url('../imgs/loader-clr.png') white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0%;
  }

  to {
    background: url('../imgs/loader-clr.png') white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
  }
}